<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/faculty/layout :: head">
    <meta charset="UTF-8">
    <title>Create Faculty</title>
</head>
<body>
<h1>Create Faculty</h1>
<p>
    <a href="/facultys">Faculty List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/save-faculty}" th:object="${faculty}" method="post">
    <table>
        <tr>
            <td>ID_Faculty:</td>
            <td><input type="text" th:field="*{maKhoa}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Faculty"></td>
        </tr>
    </table>
    <footer th:replace="/faculty/layout :: footer"></footer>

</form>
</body>
</html>